@import "abstracts/_abstracts";
@import "components/_components";
@import "mixins/_mixins";


body {
  line-height: 1.4;
  color: #333333;
  font-family: sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
}