{% load static %}
{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html lang="en" class="use-all-space">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta charset='UTF-8'>
    <title>TomTom JavaScript SDK - Switching Tiles</title>
    <meta name='viewport' content='width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no' />
    <link rel='stylesheet' type='text/css' href={% static "map.css" %} />
    <link rel='stylesheet' type='text/css' href={% static "elements.css" %}>
    <script src={% static "tomtom.min.js" %}></script>
    <style>
        label {
            display: flex;
            align-items: center;
            margin: 2px;
        }
        select {
            flex: auto;
            margin-left: 10px;
        }
    </style>
</head>
<body class="use-all-space">
<div id="root"></div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
{#{% render_bundle 'main' %}#}
</body>
</html>