{% load static %}
{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta charset='UTF-8'>
    <title>Twin Ravens</title>
    <meta name='viewport' content='width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel='stylesheet' type='text/css' href={% static "map.css" %} />
    <link rel='stylesheet' type='text/css' href={% static "elements.css" %}>
    <script src={% static "tomtom.min.js" %}></script>
    <style>
        label {
            display: flex;
            align-items: center;
            margin: 2px;
        }
        select {
            flex: auto;
            margin-left: 10px;
        }
        #parent {
            min-width: 400px;
            min-height: 400px;
            height: 400px;
            width: 100%;
        }
    </style>
</head>
<body>
<div id="root"></div>
{#<div id='map' class='use-all-space'></div>#}
{#    <script>#}
{#        // Define your product name and version#}
{#        tomtom.setProductInfo('Twin Ravens', '0.0.1');#}
{#        var map = tomtom.map('map', {#}
{#            key: 'c26Y46QwvfTgsAirK4Nh0w8YokZJ3XGq',#}
{#            source: 'vector',#}
{#            basePath: '/static'#}
{#        });#}
{##}
{#        var languageLabel = L.DomUtil.create('label');#}
{#        languageLabel.innerHTML = 'Maps language';#}
{#        var languageSelector = tomtom.languageSelector.getHtmlElement(tomtom.globalLocaleService, 'maps');#}
{#        languageLabel.appendChild(languageSelector);#}
{#        tomtom.controlPanel({#}
{#            position: 'bottomright',#}
{#            title: 'Settings',#}
{#            collapsed: true,#}
{#            closeOnMapClick: false#}
{#        })#}
{#            .addTo(map)#}
{#            .addContent(languageLabel);#}
{##}
{#    </script>#}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
{% render_bundle 'main' %}
{#{% render_bundle 'main' config="PROD"%}#}

</body>
</html>